#canvas-wrap { 
    position:relative;
    
 } 
 body{
     margin: 0%;
     font-family: 'Playfair Display', serif;
 }
 #logo,#button{
    position:absolute;
     top:15%; 
     left:47%;
     }
     #button{
         margin-top:15%;
         left: 43.8%;
     }
#instruction,#play{
    background: rgba(255, 255, 255, 0.1);
    border: 1.5px solid  black;
    border-radius: 30px;
    color: chocolate;
}
#instruction{
   margin-top: 1em;
}
#instruction{
    top: 2%;
    color: chocolate
}
#start,#rules{
    margin-top:10%;
    margin-left:40%;
    font-size: 1.5em;;
}
#start{
    margin-top:5%;
}
h5{
    width: 7em;
    height: 1em;
}

body {
  margin: 0%;
  font-family: "Playfair Display", serif;
}
#logo,
#button {
  position: absolute;
  top: 15%;
  left: 47%;
}
#button {
  margin-top: 15%;
  left: 43.8%;
}
#instruction,
#play {
  background: rgba(255, 255, 255, 0.1);
  border: 1.5px solid black;
  border-radius: 30px;
  color: chocolate;
}
#instruction {
  margin-top: 1em;
}
#instruction {
  top: 2%;
  color: chocolate;
}
#start,
#rules {
  margin-top: 10%;
  margin-left: 40%;
  font-size: 1.5em;
}
h5 {
  width: 7em;
  height: 1em;
  font-weight: bold;
}
